@import '../Style/Position.scss';
@import '../Style/Colors.scss';
@import '../Style/Fonts.scss';

.news {
    padding-top: 50px;
  }
  
  .gallery {
    @include flex_gallery;
    margin: 5vmin 15vmin 5vmin 15vmin ;
    overflow: hidden;
  
    .card {
      flex: 1;
      height: 75vmin;
      position: relative;
      border: none;
      transition: all 0.5s ease-in-out;
      .card_text {
        @include position(absolute, $top: 50px, $left: 10px, $right: 10px);
        
        max-width: 400px;
        padding: 20px;
        visibility: hidden;  
        opacity: 0;
        background-color: $dark_mask_color;
        color: $white_text_color;
        font-size: $text_small;    
      }
      .card_head {
        @include position(absolute, $bottom: 0);

        min-width: 100%;
        padding: 0.3em;
        background: $dark_mask_color;
        color: $white_text_color;
        font-size: $text_medium;
        transition: all 0.5s ease-in-out;
      }
  
      &:hover {
        flex-grow: 1.5;
        .card_img {
          filter: opacity(100%);
        }
        .card_text{
        opacity: 1;
        visibility: visible;
        transition-delay: 0.5s;
        }
      }
      .card_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 1s ease-in-out;
        filter: opacity(70%);
      }
    }
  }