@import '../../style/Position.scss';
@import '../../style/Colors.scss';
@import '../../style/Fonts.scss';

.menu {
  @include position(fixed, $top: 0, $left:0);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3px;
  z-index: 1;
  font-family: $title_font;
  font-size: $text_medium;
  color: $light_color;
  background-color: transparentize($dark_color, 0.4);
  transition: all 0.4s ease-in-out;
  @media(max-width:640px) {
    flex-direction: column;
  } 
}
  
.menu_el {
  color: $light_color;
  text-decoration: none;
}
  
.menu_el:hover {
  color: $text_color;
  text-decoration: none;
}
