@import '../../Style/Position.scss';
@import '../../Style/Colors.scss';
@import '../../Style/Fonts.scss';

.menu {
  @include position(fixed, $top: 0, $left:0);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3px;
  z-index: 1;
  font-family: $title_font;
  font-size: $text_medium;
  color: $white_text_color;
  background-color: transparentize($dark_color, 0.4);
  transition: all 0.4s ease-in-out;
  @media(max-width:640px) {
    flex-direction: column;
  } 
}
  
.menu-el {
  color: $white_text_color;
  text-decoration: none;
}
  
.menu-el:hover {
  color: $black_text_color;
  text-decoration: none;
}
