@import '../Style/Colors.scss';
@import '../Style/Fonts.scss';

.contact {
  box-sizing: border-box;
  font-size: $text_small;
}

form {
   max-width: 320px;
   margin: 0 15px 0 15px;
}

label {
  margin-bottom: 0.1rem !important;
}

input[type=text],input[type=email], textarea {
  box-sizing: border-box;
  width: 100%;
  margin: 6px 0 10px 0;
  padding: 10px;
  background: transparentize($dark_color, 0.8);
  border: 1px solid $black_text_color;
  border-radius: 4px;   
}

input[type=submit] {
  cursor: pointer;
  padding: 8px 12px;
  background-color: $dark_color;
  color: $white_text_color;
  border: none;
  border-radius: 4px;
}

input[type=submit]:hover {
   background-color: transparentize($dark_color, 0.4);
}