@import '../../Style/Position.scss';
@import '../../Style/Colors.scss';
@import '../../Style/Fonts.scss';

.menu {
  @include position(fixed, $top: 0, $left:0);
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 3px;
  z-index: 1;
  font-family: $title_font;
  color: $white_text_color;
  font-size: $text_big;
  background-color: transparentize($dark_color, 0.4);
  transition: all 0.4s ease-in-out;
}
  
.menu-el {
  color: $white_text_color;
  text-decoration: none;
}
  
.menu-el:hover {
  color: $black_text_color;
  text-decoration: none;
}
  