@import url('https://fonts.googleapis.com/css?family=Hind|Lobster|Open+Sans+Condensed:300');

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
}

.heading {
  width: 100%;
  height: 100vh;
  background-image: url("bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  font-family: 'Lobster', cursive;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: calc(25px + 8vw);
  color: white;
  background-color:rgba(184, 151, 129, 0.404);
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: #a55b1156;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/* news */

.news {
  font-size: calc(5px + 3vw);
  color: black;
}

.slider {
  display: flex;
}

.leftSlider {
  flex: 1;
}

.rightSlider {
  flex: 1;
}

.slides {
  display: flex;
}

/* about */

.about {
  font-size: calc(15px + 7vw);
  color: black;
}

/* Contact */
.contact {
  box-sizing: border-box;
  font-size: calc(5px + 2vw);
  color: black;
  
}

form {
   max-width: 420px;
   margin: 0 auto;
}

h4 {
  font-size: calc(5px + 3vw);
}

p {
   text-align: center;
   font-weight: 500;
}

input[type=text],input[type=email], select, textarea {
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
}

input[type=submit] {
   background-color: rgb(184, 151, 129);
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

input[type=submit]:hover {
   background-color: rgba(184, 151, 129, 0.692);
}

.footer {
  width: 100%;
  background-color: rgb(184, 151, 129);
  color: white;
}

