@import url('https://fonts.googleapis.com/css?family=Hind|Lobster|Open+Sans+Condensed:300');

$title_font: 'Lobster', cursive;
$text_font: 'Open Sans Condensed', sans-serif;

$main_title_size: calc(25px + 8vw) !important;
$title_size: calc(10px + 3vw) !important;
$text_small: calc(5px + 1vw);
$text_medium: calc(5px + 2vw);
$text_big: calc(8px + 1.5vw)