.about {
  padding-top: 10px;
  font-size: calc(5px + 2vw);
  color: black;
}

.title_about {
  text-align: left;
  margin-bottom: 20px;
}

h3 {
  font-size: calc(10px + 3vw) !important;
  font-family: 'Lobster', cursive;
}

.about_img {
  width: 250px;
  margin-bottom: 5px;
}

.signatures {
  font-size: calc(5px + 1vw);
  text-align: justify;
  padding: 10px;
}