@import '../../Style/Fonts.scss';

.about {
  padding-top: 10px;
  font-size: $text_medium;
}

.title_about {
  text-align: left;
  margin-bottom: 20px;
}

.img_about {
  width: 250px;
  margin-bottom: 5px;
}

.signatures {
  font-size: $text_small;
  text-align: justify;
  padding: 10px;
}