@import '../../Style/Position.scss';
@import '../../Style/Colors.scss';
@import '../../Style/Fonts.scss';

.heading {
    width: 100%;  
}

.parallax {
    height: 100vh;
    background-image: url("../../Assets/Images/bg.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    @include flex;

    min-height: 100vh;
    margin: 0 auto;
    font-family: $title_font;
    font-size: $main_title_size;
    color: $light_color;
    background-color: transparentize($dark_color, 0.4);
}
