@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Lobster');

$title_font: 'Lobster', cursive;
$text_font: 'Bree Serif', serif;

$main_title_size: calc(25px + 8vw) !important;
$title_size: calc(10px + 2vw) !important;
$text_small: calc(5px + 0.8vw);
$text_medium: calc(8px + 1.3vw);
