@import '../../style/Colors.scss';
@import '../../style/Fonts.scss';

@mixin flex {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

@mixin flex_gallery {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}