@import '../../Style/Variables.scss';

.google_map {
    display: flex;
    justify-content: space-around;
    width: 70% !important;
    height: 20vh;
    padding-bottom: 30px !important;
    margin-bottom: 45px;
    z-index: -1;
}
