@import '../../style/Colors.scss';
@import '../../style/Fonts.scss';
@import '../../style/Position.scss';

.App {
  @include flex;

  min-height: 100vh;
  font-family: $text_font;
  color: $text_color;
}

.contain {
  @include flex;

  width: 100%;
  min-height: 100vh;
  background-color: $light_color;
  margin: 0 auto;
}

h2 {
  font-size: $title_size;
  font-family: $title_font;
}


